h1{
  align-content: center;
}
.jumbotron {
  margin-top: 5rem;
}
.jumbotron h1{
  text-align: center;
  padding-bottom: 20px;
}
.jumbotron h2{
  text-align: center;
}
.container {
  margin: auto;
  text-align: center;
}
/*#info_h1{
  padding-bottom: 20px;
}*/
#ball_pic{
  opacity: 0.3;
  position: relative;
}
