body {
  background-color: #4967ED !important;
  font-family: "Lucida Grande", sans-serif;
  text-transform: uppercase;
}
h1{
  align-content: center;
}
h2 {
  font-size: 25px;
}
.navbar {
  box-shadow: 0px 2px 7px #5b5b5b;
}
.heading {
  font-family: "Lucida Grande", sans-serif;
  text-transform: uppercase;
  font-size: 50px !important;
  font-weight: 700;
}
.jumbotron {
  margin-top: 5rem;
  background-color: none !important;
}
.jumbotron h1{
  text-align: center;
  padding-bottom: 20px;
}
.jumbotron h2{
  text-align: center;
  /*margin-bottom: 200px;*/
}
.container {
  margin: auto;
  text-align: center;
}
.center {
  text-align: center;
  align-self: center;
  margin: auto;
}
.tall {
  height: 100%;
  border-radius: 8px 8px 8px 8px;
}
.form-primary {
  border-radius: 5px 5px 5px;
  align-content: center;
  width: auto;
  height: auto;
}
.button-primary {
  font-size: 18px;
  background-color: #4967ED;
  border: none;
  border-radius: 3px 3px 3px;
  height: 30px;
  margin: auto;
}
.button-danger {
  font-size: 18px;
  color: #cc0017;
  border: none;
  border-radius: 3px 3px 3px;
  height: 30px;
  margin: auto;
}
.button:hover {
  opacity: 0.8;
}
input:focus{
  box-shadow: 0px 0px 8px 2px #1E47FF;
  border-radius: 2px 2px 2px;
}
.debug {
  border: solid;
  border-color: #01030C;
}
.content {
  text-transform: none;
  margin: auto;
  width: 80%;
}

.bg-overlay {
  height: 500px;
  width: 500px;
  margin: auto;
  opacity: 0.6;
  background-color: #969696;
  position: inherit;
  top: 0vw;
  left: 22.2vw;
  border-radius: 5px 5px 5px;
}
/*#info_h1{
  padding-bottom: 20px;
}*/
#ball_pic{
  opacity: 0.9;
  border-radius: 5px 5px 5px;
  width: 500px;
  height: 500px;
  margin: auto;
}
.login-banner {
  width: 500px;
  height: 300px;
  background-image: linear-gradient(rgba(50,58,71,.65),rgba(50,58,71,.65)),url("../media/bluechip.jpg");
  margin: auto;
  border-radius: 5px 5px 5px;
}
/*Colors*/
.rich-black {
  color: #01030C !important;
}
.ultra-blue {
  color: #4967ED !important;
}
.denim {
  color: #263DA5 !important;
}
.blue {
  color: #1E47FF !important;
}
.ghost {
  color: #F9FAFF !important;
}

/*Backgrounds*/
.bg-rich-black {
  background-color: #01030C !important;
}
.bg-ultra-blue {
  background-color: #4967ED !important;
}
.bg-denim {
  background-color: #263DA5 !important;
}
.bg-blue {
  background-color: #1E47FF !important;
}
.bg-ghost {
  background-color: #F9FAFF !important;
}

/*ID Specific*/
.left_panel {
  float: left;
  width: 25%;
  /*margin: 5px;*/
}
.mid_panel {
  width: 50%;
  margin: auto;
}
.right_panel {
  float: right;
  width: 25%;
  /*margin: 5px;*/
}
table {
  margin-top: 3rem;
  text-align: left;
}
