.rich-black {
  color: #01030C !important; }

.ultra-blue {
  color: #4967ED !important; }

.denim {
  color: #263DA5 !important; }

.blue {
  color: #1E47FF !important; }

.ghost {
  color: #F9FAFF !important; }

.bg-rich-black {
  background-color: #01030C !important; }

.bg-ultra-blue {
  background-color: #4967ED !important; }

.bg-denim {
  background-color: #263DA5 !important; }

.bg-blue {
  background-color: #1E47FF !important; }

.bg-ghost {
  background-color: #F9FAFF !important; }

body {
  background-image: linear-gradient(-90deg, #4297FF, #4939F3);
  font-family: "Lucida Grande", sans-serif;
  text-transform: uppercase; }

h1 {
  align-content: center; }

h2 {
  font-size: 25px; }

a {
  color: #263DA5; }

.navbar {
  box-shadow: 0px 2px 7px #5b5b5b; }

.heading {
  font-family: "Lucida Grande", sans-serif;
  text-transform: uppercase;
  font-size: 50px !important;
  font-weight: 700; }

.jumbotron {
  margin-top: 5rem;
  background-color: none !important; }

.jumbotron h1 {
  text-align: center;
  padding-bottom: 20px; }

.jumbotron h2 {
  text-align: center;
  /*margin-bottom: 200px;*/ }

.container {
  margin: auto;
  text-align: center;
  box-shadow: 5px 2px 18px #151514;
  border-radius: 5px;
  margin-top: 3rem; }

.center {
  text-align: center;
  align-self: center;
  margin: auto; }

.tall {
  height: 100%;
  border-radius: 8px 8px 8px 8px; }

.form-primary {
  border-radius: 5px 5px 5px;
  align-content: center;
  width: auto;
  height: auto; }

input:focus {
  box-shadow: 0px 0px 8px 2px #1E47FF;
  border-radius: 2px 2px 2px; }

.debug {
  border: solid;
  border-color: #01030C; }

.content {
  text-transform: none;
  margin: auto;
  width: 80%;
  padding-bottom: 15px; }

.bg-overlay {
  height: 500px;
  width: 500px;
  margin: auto;
  opacity: 0.6;
  background-color: #969696;
  position: inherit;
  top: 0vw;
  left: 22.2vw;
  border-radius: 5px 5px 5px; }

.login-banner {
  max-width: 500px;
  min-width: 300px;
  height: 300px;
  background-image: linear-gradient(rgba(50, 58, 71, 0.65), rgba(50, 58, 71, 0.65)), url("../../media/bluechip.jpg");
  margin: auto;
  border-radius: 5px 5px 5px; }

.left_panel {
  float: left;
  width: 25%; }

.mid_panel {
  width: 50%;
  margin: auto; }

.right_panel {
  float: right;
  width: 25%; }

table {
  margin-top: 3rem;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

@media (max-width: 991px) {
  .navbar-header {
    float: none; }
  .navbar-toggle {
    display: block; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .navbar-text {
    float: none;
    margin: 15px 0; }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important; }
  .collapsing {
    overflow: hidden !important; } }

.button-primary {
  font-size: 18px;
  background-color: #4967ED;
  border: none;
  border-radius: 3px 3px 3px;
  height: 30px;
  margin: auto;
  padding: 2px 6px 6px 6px; }

.button-danger {
  font-size: 18px;
  border-radius: 3px 3px 3px;
  height: 30px;
  margin: auto;
  background-color: #cc0017;
  border: none; }

button:focus {
  outline: none; }

button:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  /*line-height: 16px;
  font-size: 16px;*/ }

/*Colors*/
.delete {
  cursor: pointer; }

/*ID Specific*/
.button_group {
  padding: 10px; }
