<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Blue Chip Hoops</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/css/index.css' %}">
    <!-- Javascript -->
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top bg-ghost">
      <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Blue Chip Hoops</a>
      </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'basic_app:index' %}">Home</a></li>
            <li><a href="{% url 'basic_app:info' %}">Info</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="blue" href="{% url 'basic_app:signup' %}"><button type="button" name="button" class="button-primary" style="border-color: #1E47FF; border-radius: 5px; border: solid; max-width:100px; color: white;">Sign Up</button></a></li>
            <li><a class="denim" href="{% url 'basic_app:login' %}"><button type="button" name="button" class="button-primary" style="background-color:white; border-radius: 5px; border: solid; max-width:100px; border-color:#263DA5;">Sign In</button></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
  {% block body_block %}
  <!-- Stuff in here is specific to that page -->
  {% endblock %}
</html>
