{% extends 'basic_app/base1.html'%}
{% block body_block %}
<div class="container bg-denim tall" style="margin-top: 10rem;">
  <h1 class="heading ghost" style="margin-top: 5rem;">Welcome to Blue Chip Hoops</h1>
  <div class="container">
    <img src="http://katemcs.edublogs.org/files/2014/03/basketball-1jodx7c.png"
      alt="Can't Find Image" id="ball_pic">
    <form class="center form-primary bg-ghost" style="margin: auto; width: 80%; height: 10rem;">
      <h2 class="rich-black" style="padding-top: 12px;">Sign In</h2>
      <input type="text" name="User Name" placeholder="Email Address">
      <input type="password" name="Password" placeholder="Password">
      <button type="button" name="login_btn" class="button button-primary ghost">Sign In</button>
    </form>
  </div>

</div>

{% endblock %}
