<!DOCTYPE html>
{% extends "basic_app/base1.html" %}
{% block body_block %}

<div class="bg-ghost center container mxn2 mt4 pt4" style="margin-top: 10%;">
	<h1>Please Sign In</h1>
	<form action="{% url 'basic_app:login' %}" method="POST" style="padding: 10px;">
		{% csrf_token %}
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password">
		<input class="bg-ghost button button-primary"type="submit" value="Sign In" style="border: solid; border-radius:5px; border-color: #263DA5;">
	</form>

</div>

{% endblock body_block %}
