{% extends "basic_app/base.html" %}
{% block body_block %}
<div class="container bg-ghost tall" style="margin-top: 10rem;">
  <h1>My Recruits</h1>
  <p></p>
  <p></p>
  <table class="bg-ghost table striped">
    <thead>
      <th>Name</th>
      <th>Position</th>
      <th>Height</th>
      <th>Weight</th>
      <th>High School</th>
      <th>Phone Number</th>
      <th>Twitter</th>
      <th>Last Contacted</th>
      <th>Next Game</th>
    </thead>
    <tr>
      <td>Michael Jordan</td>
      <td>G</td>
      <td>6'5</td>
      <td>175</td>
      <td>Laney High School</td>
      <td>(555)123-4567</td>
      <td>@mj23</td>
      <td>8/11/1981</td>
      <td>8/15/1981</td>
      <td><span data-toggle="tooltip" data-placement="top" title="Remove player from list." class="delete glyphicon glyphicon-trash" id="delete_player"></span></td>
    </tr>

  </table>
</div>
{% endblock %}
