{% extends "basic_app/base.html" %}
{% block body_block %}
<div class="container bg-ghost tall"style="margin-top: 10rem;">
  <h1>National Rankings</h1>
  <p></p>
  <p></p>
  <table id="national_table" style="">
    <thead>
      <th>Rivals Rank</th>
      <th>ESPN Rank</th>
      <th>Name</th>
      <th>Position</th>
      <th>High School</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Schools</th>
    </thead>
    <tr>
      <td>1</td>
      <td>1</td>
      <td>Michael Jordan</td>
      <td>G</td>
      <td>Laney High School</td>
      <td>6'5</td>
      <td>175</td>
      <td><a href="#">List</a></td>
    </tr>

  </table>
</div>


{% endblock %}
