{% extends "basic_app/base.html" %}
{% block body_block %}
<div class="container bg-ghost tall"style="margin-top: 10rem;">
  <h1>Welcome Coach {Last Name}</h1>
  <h2>{School Name and Mascot}</h2>
  <div style="width:100%, height:100%">
    <div id="left_panel">
      <h4>Staff</h4>
      <ul style="list-style:none; text-align:left; text-align:top;">
        <li>Dean Smith</li>
        <li>James Naismith</li>
        <li>John Wooden</li>
        <li>Adoph Rupp</li>
      </ul>
      <h1>Get the heck out of my space!</h1>
    </div>
    <div id="right_panel">
      <h2>Twitter Updates</h2>
      <h1>Why are you in my space?</h1>
    </div>
    <div id="mid_panel">
      <h1>News</h1>
      <h2><a href="#">ESPN: Greg Oden commits to Buckeyes...</a></h2>
      <h2><a href="#">LA Times: Bill Walton stays home...</a></h2>
      <h2><a href="#">Chicago Tribune: Isiah Thomas Going to Bloomington...</a></h2>
    </div>
  </div>
</div>

{% endblock %}
