{% extends "basic_app/base1.html" %}
{% block body_block %}
<div class="container bg-ghost tall" style="margin-top: 10rem">
    <h1>Sign Up</h1>

    <input type="text" name="first_name" placeholder="First Name">
    <p></p>
    <input type="text" name="last_name" placeholder="Last Name">
    <p></p>
    <input type="text" name="university" placeholder="School">
    <p></p>
    <input type="text" name="username" placeholder="Email Address">
    <p></p>
    <input type="password" name="user_pwd" placeholder="Password">
    <p></p>
    <input class="button button-primary ghost" type="submit" name="Sign In" value="Submit" style="margin-bottom: 15px;">

</div>

<!-- <div class="jumbotron">
  {% if registered %}
  <h1>Thank your for registering!</h1>
  {% else %}
  <h1>Register Here!</h1>
  <h3>Fill out the form:</h3>

  <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <input type="submit" name="" value="Register">
  </form>
{% endif %}
</div> -->
{% endblock %}
