{% extends "basic_app/base.html" %}
{% block body_block %}
<div class="container bg-ghost tall"style="margin-top: 10rem;">

  <h1>Manage Staff</h1>
  <table class="bg-ghost table striped">
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Address</th>
      <th>Phone Number</th>
      <th>Active Since</th>
      <th>Twitter</th>
    </thead>
    <tr>
      <td>Dean</td>
      <td>Smith</td>
      <td>dmith@unc.edu</td>
      <td>(555)111-2222</td>
      <td>4/17/1960</td>
      <td>@coachdeansmith</td>
    </tr>
  </table>
<div class="button_group">
  <input class="button button-primary" type="button" name="add_user_btn" value="Add User">
  <input class="button button-danger" type="button" name="remove_user_btn" value="Remove User">
</div>
</div>

{% endblock %}
