$rich-black: #01030C;
$ultra-blue:#4967ED;
$denim: #263DA5;
$blue: #1E47FF;
$ghost: #F9FAFF;
.rich-black {
  color:  $rich-black !important;
}
.ultra-blue {
  color: $ultra-blue !important;
}
.denim {
  color: $denim !important;
}
.blue {
  color: $blue !important;
}
.ghost {
  color: $ghost !important;
}
.bg-rich-black {
  background-color:  $rich-black !important;
}
.bg-ultra-blue {
  background-color: $ultra-blue !important;
}
.bg-denim {
  background-color: $denim !important;
}
.bg-blue {
  background-color: $blue !important;
}
.bg-ghost {
  background-color: $ghost !important;
}
